# Replace both origins with an address colleagues can reach.
SITE_ORIGIN=http://192.168.6.27:4328
PREVIEW_ORIGIN=http://192.168.6.27:4329
HANDOFF_ACCESS_CODE=replace-with-a-team-code-at-least-6-characters
